// background colors used on page
$colors: (
  header: rgb(34, 133, 34),
  list: white
);

$padding: (
  padding-left: 5%,
  margin-right: 5%,
  margin-left: 58%
);

body {
  // sets background image to be full screen despite screen size
  background-image: url(../images/groceriesBackground.jpg);
  background-position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;

  // styles for the div class="top" that is the header of the grocery list
  .top {
    background-color: map-get($colors, header);
    font-family: "Anton", sans-serif;
    font-size: 50px;
    color: white;
    padding: $padding;
  }

  // styles for the div class="list" that holds all the grocery items
  #list {
    background-color: map-get($colors, list);
    font-family: "Questrial", sans-serif;
    font-size: 15px;
    padding: $padding;
    box-shadow: 10px 10px;
  }
}
